<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>default home</title>
  <style>
    .NASABlue { color: #0B3D91; }
    .center { display: block; margin-left: auto; margin-right: auto; }
</style>
</head>

<body>
<h1 class="NASABlue" style="text-align: center"> Weather API</h1>
</body>
<h2>How to get the data for a particular station on a particular day:</h2>
<p>URL format: http://127.0.0.1: 5000/api/v1/stationid/date</p>
<p>URL Example: http://127.0.0.1: 5000/api/v1/22/1988-10-31<br>
<i>Yes, the dashes (-) ARE mandatory!</i></p>
<b># SPOOKY</b>

<h2>How to get all the data for a particular station FOR ALL TIME, sometimes dating back to as far as 1860:</h2>
<p>URL format: http://127.0.0.1: 5000/api/v1/stationid</p>
<p>URL Example: http://127.0.0.1: 5000/api/v1/22<br></p>
<b>Technically even MORE SPOOKY, as u just called the data for literally hundreds of Halloweens 😱</b>

<h2>How to get all data for a particular station FOR ONE YEAR</h2>
<p>URL format: http://127.0.0.1: 5000/api/v1/<b><u>annual</u></b>/station/year</p>
<p>URL Example: http://127.0.0.1: 5000/api/v1/<b><u>annual</u></b>/22/1988<br></p>

<p>{{data|safe}}</p>
</html>